.input {
	background: white;
    border: 1px solid #DDD;
    border-radius: .2rem;
    height: 100%;
	box-sizing: border-box;
    font-size: 1rem;
	outline: none;
    padding-left: .33rem;
	width: 100%;
}

.input::placeholder {
    color: #CCC;
    font-style: italic;
}
