.input-wrapper {
	display: grid;
	grid-template-columns: 32px 1fr 32px;
	height: 49px;
	align-items: center;

	& > svg {
		/* align-self: center; */
		fill: #CCC;
		height: 18px;
		width: 18px;
	}
}

.input-wrapper input {
	background: none;
	border: none;
	font-size: 1.2rem;
}

.help-button,
.close-button {
	justify-self: right;
}

.close-button {
	background: none;
	border: none;
	color: var(--rdt-spot-color);
	cursor: pointer;
	font-weight: bold;
	height: 1rem;
	padding: 0;
	text-align: center;
	width: 1rem;
}